@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button id="scan-button">Scan</button>
    <img id="preview" style="width: 100%" />
</div>